<header> 
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/formsstyle.css">
  <link rel="stylesheet" href="../../css/tblstyle.css">  
  
</head>
<body>


  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>

    <nav>
      <a href="../index.html">Dashboard</a>
      <a href="../farmers/index.html">Farmer services</a>        
      <div class="dropdown">
      <a href="#">My Profile</a>
      <div class="dropdown-content">
        <a href="../farmers/Profiles.html">My Profile</a>
        <a href="../farmers/farms.html">My Farms</a>
        <a href="../farmers/change_password.html">Update email, Mobile</a>
        <a href="../farmers/settings.html">Change Password</a>
         </div>
      </div>      
 

     
      
      <div class="dropdown">
        <a href="#">My Transactions</a>
        <div class="dropdown-content">
          <a href="../farmers/buyers.html">Buyers Directory</a>          
          <a href="../farmers/harvest.html">Rambutan for Sale (Harvests)</a>
           <a href="../farmers/Order_Items.html">Order Items</a>
           <a href="../farmers/orders.html">My Orders </a>
          <a href="../farmers/messages.html">Messages with Farmers</a>

           </div>
      </div>

      <div class="dropdown">
        <a href="#">Nurseries</a>
        <div class="dropdown-content">
          <a href="../farmers/nurseries.html">Rambutan Nurseries Directory</a>
          <a href="../farmers/saplings.html">Product Listing</a>
           <a href="../farmers/NurseriesOrder_Items.html">Order Items</a>
           <a href="../farmers/NurseriesOrders.html">Orders to Nurseries </a>
          <a href="../farmers/NurseriesMessages.html">Messages with Nurseries</a>
           </div>
      </div>
      
       <div class="dropdown">
        <a href="#">Suppliers</a>
        <div class="dropdown-content">
          <a href="../farmers/suppliers.html">Input Suppliers</a>
          <a href="../farmers/supplies.html">Product Listing</a>
           <a href="../farmers/SuppliersOrder_Items.html">Order Items</a>
           <a href="../farmers/SuppliersOrders.html">Orders to Suppliers </a>
          <a href="../farmers/SuppliersMessages.html">Messages with Suppliers</a>
           </div>
      </div>
       
      <a href="../farmers/index.html">Logout</a>      


    </nav>
  </div>

 
