<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RAMBUCONNECT - Student Project</title>
  <header> 

  <link rel="stylesheet" href="../../css/formsstyle.css">
  <link rel="stylesheet" href="../../css/tblstyle.css">  
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>



    <nav>
      <a href="../index.html">Dashboard</a>
      <a href="../nurseries/index.html">Nursery services</a>        
      <div class="dropdown">
      <a href="#">My Profile</a>
      <div class="dropdown-content">
        <a href="../nurseries/Profiles.html"> My Profile</a>
        <a href="../nurseries/change_password.html"> Update email, Mobile</a>
        <a href="../nurseries/settings.html"> Change Password</a>
         </div>
      </div>      

      <div class="dropdown">
        <a href="#">My Transactions</a>
        <div class="dropdown-content">
          <a href="../nurseries/farmers.html">Rambutan Farmers Directory</a>          
          <a href="../nurseries/samlings.html">Products for Sale</a>
           <a href="../nurseries/Order_Items.html">Order Items</a>
          <a href="../nurseries/Orders.html"> Orders Received </a>
          <a href="../nurseries/messages.html">Messages with Farmers</a>
           </div>
      </div>

       
      <a href="../nurseries/index.html">Logout</a>      


    </nav>
  </div>
