<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RAMBUCONNECT - Student Project</title>
  
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>

    <nav>
      <a href="../index.html">Dashboard</a>
      <a href="../admin/index.html">Admin</a>
      <a href="../admin/index.html">Manage Roles</a>    
      <a href="../admin/index.html">Manage Users</a>  


    </nav>
  </div>

  <section class="middle">
    <h1> ADMIN PAGES </h1>
    
    <p class="intro-text">
   RambuConnect's ADMINISTRATION PAGES <br>
   dashboard.html	   System Metrics   Read: Overview of active user totals, cumulative acreage, and global stock volume.  <br>
   manage_roles.html  Roles Table	   Read / Delete: Master table displaying all Roles with explicit "Delete Account" actions. <br>
   manage_users.html  Users Table	   Read / Activate / Delete: Master User table displaying all users with explicit "Activate  / DeActivate / Delete Account" actions.<br>
    </p>

  </section>

  <footer>
    A project by Amit Lijo, Class XII
  </footer>

</body>
</html>
