 
<header> 
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/formsstyle.css">
  <link rel="stylesheet" href="../../css/tblstyle.css">  
  
</head>
<body>

  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>

    <nav>
      <a href="../index.html">Dashboard</a>
      <a href="../suppliers/index.html">Suppliers services</a>        
      <div class="dropdown">
      <a href="#">My Profile</a>
      <div class="dropdown-content">
        <a href="../suppliers/Profiles.html"> My Profile</a>
        <a href="../suppliers/change_password.html"> Update email, Mobile</a>
        <a href="../suppliers/settings.html"> Change Password</a>
         </div>
      </div>     


        
      <div class="dropdown">
        <a href="#">My Transactions</a>
        <div class="dropdown-content">
          <a href="../suppliers/farmers.html">Rambutan Farmers Directory</a>          
          <a href="../suppliers/supplies.html">Products for Sale</a>
          <a href="../suppliers/Order_Items.html">Order Items</a>
          <a href="../suppliers/orders.html"> Orders Received </a>
          <a href="../suppliers/messages.html">Messages with Suppliers</a>

         
           </div>
      </div>

    
      <a href="../suppliers/index.html">Logout</a>      

    </nav>
  </div>
