<header> 
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/formsstyle.css">
  <link rel="stylesheet" href="../../css/tblstyle.css">  
  
</head>
<body>

  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>

    <nav>
      <a href="../index.html">Dashboard</a>
      <a href="../buyers/index.html">Buyer services</a>        
      <div class="dropdown">
      <a href="#">My Profile</a>
      <div class="dropdown-content">
        <a href="../buyers/index.html"> My Profile</a>
        <a href="../buyers/index.html"> Update email, Mobile</a>
        <a href="../buyers/index.html"> Change Password</a>
         </div>
      </div>      

      
      <div class="dropdown">
        <a href="#">My Transactions</a>
        <div class="dropdown-content">
          <a href="../buyers/index.html">Rambutan Farmers Directory</a>          
          <a href="../buyers/index.html">Rambutan for Sale (Harvests)</a>
          <a href="../buyers/index.html">My Orders </a>
          <a href="../buyers/index.html">Messages with Farmers</a>
           </div>
      </div>

       
      <a href="../buyers/index.html">Logout</a>      
    </nav>
  </div>

  </header>
