<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RAMBUCONNECT - Student Project</title>
  
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<!-- ============================================= -->
<div id="header-placeholder"></div>
<!-- ============================================= --> 

<div class="user-corner-container">
  <div class="user-image-wrapper">
    <img src="../../images/buyer.png" alt="Wholesale agricultural purchasers inspecting Rambutan crop yields">
  </div>

  <section class="middle">
    <h1>Wholesale & Retail Buyers</h1>
    <p class="intro-text">
      Gain direct entry to verified fresh fruit supplies without relying on opaque merchant links. Our buyer engine lists active regional harvesting schedules, letting logistics managers and grocery distributors arrange farm-gate collection windows for premium, highly perishable Rambutan inventory.
    </p>
    
    <div class="button-group">
      <a href="user_registration.html" class="btn btn-green">Rambutan Buyers Register here</a>
      <a href="login.html" class="btn btn-green">Registered Members Login here</a>
    </div>
  </section>
</div>
  <section class="middle">   
    <h1> BUYER PAGES </h1>
    
    <p class="intro-text">
   RambuConnect's BUYER'S PAGES <br><br>

  dashboard.html		Buyer_Profiles & Global Feed	Read: Dashboard showcasing aggregate available market stock.<br>
  edit_profile.html	Buyer_Profiles Table		Update: Form to alter shop address, annual KG requirements, or preferred delivery.<br>
  browse_market.html	Market_Stock Table		Read: Filterable database viewer to search active farm listings by variety or area.<br>

  
  </section>



<!-- ============================================= -->
    
 <div id="footer-placeholder"></div>   
<script>
    // Load header
    fetch('header.html')
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);
    
    // Load footer
    fetch(' footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
  </script>
    


</body>
</html>
