<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RAMBUCONNECT - Student Project</title>
  
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <div class="topbar">
    <div class="brand">
      <a href="index.html">
        <img src="../images/RambuConnectLogo.png" alt="RambuConnect Logo" class="logo-img">
      </a>
    </div>

    <nav>
      <a href="index.html">Dashboard</a>
      <a href="admin/index.html">Admin</a>
      <a href="farmers/index.html">Farmers</a>    
      <a href="buyers/index.html">Buyers</a>  
      <a href="nurseries/index.html">Nurseries</a>
      <a href="suppliers/index.html">Suppliers</a>

    </nav>
  </div>

  <section class="middle">
    <h1> RAMBUCONNECT DASHBOARD </h1>
    
    <p class="intro-text">
      RambuConnect's integrated network provides businesses with direct access to certified high-yield planting stocks, reliable trade transactions, premium farming supplies, and modern logistics solutions. Join our growing community today to transform your local agricultural workflows into scalable, sustainable market growth.
    </p>

    <!-- Project Reference Buttons -->
<div class="button-group" style="justify-content: center; margin-top: 30px; margin-bottom: 20px;">
  <a href="../index.html" class="btn btn-green"> Project Web site pages</a>
</div>
    
  </section>

  <footer>
    A project by Amit Lijo, Class XII
  </footer>

</body>
</html>
