<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>View Market Location</title>
    <link rel="stylesheet" href="../ostyle.css">
    <link rel="stylesheet" href="../formsstyle.css">
</head>
<body>

 
<!-- ============================================= -->
<div id="header-placeholder"></div>
<!-- ============================================= -->

    <div class="form-container">
        <div class="form-title">View Market Location Details</div>
        <form>
            <div class="form-group">
                <label>Market ID</label>
                <input type="text" class="form-control" value="1" readonly>
            </div>
            <div class="form-group">
                <label>Market Name</label>
                <input type="text" class="form-control" value="Thodupuzha Market" readonly>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" readonly>A bustling municipal commercial center serving as a primary transit point for agricultural produce coming from the Idukki foothills.</textarea>
            </div>
            <div class="form-group">
                <label>Show Status</label>
                <input type="text" class="form-control" value="Active" readonly>
            </div>
            <div class="form-group">
                <label>Created Time</label>
                <input type="text" class="form-control" value="2026-07-14 06:00:00" readonly>
            </div>
            
            <div class="form-actions">
                <a href="../marketlocations.html" class="btn-cancel">Back to List</a>
            </div>
        </form>
    </div>
<!-- ============================================= -->
    
 <div id="footer-placeholder"></div>   
<script>
    // Load header
    fetch('../../components/header_portaladmin.html') 
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);
    
    // Load footer
    fetch('../../components/footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
  </script>
    
<!-- ============================================= -->

</body>
</html>
